data/models/*
!data/models/ma_bert_softmax_weights.pt
data/misc/
data/finetuning/*
data/inference/accuracy/*
data/inference/runtime/*

data/tokenized_datasets/bert/*
data/tokenized_datasets/roberta/*
data/tokenized_datasets/sst2/*

data/sequential_inference.log



*.pth
*.pt
*.pyc
*.egg

**/__pycache__/
**/.vscode/


**/best_stats_*.json
**/best_stats_*_*.json

**.DS_Store